html {
    background-color: rgb(238, 238, 238);
}

body {
    font-size: 17px;
    font-family: 'Inter', 'Segoe UI', 'Tahoma', 'Geneva', sans-serif;
    margin: 30px auto;
    padding: 10px 50px 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    max-width: 900px;
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(29, 64, 118);
    text-decoration: none;
}

a:hover {
    border-bottom: 1.5px solid rgb(29, 64, 118);
    /* color: rgb(29, 64, 118); */
}

h1, h2, h3 {
    color: rgb(82, 123, 189);
    line-height: 1;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgb(170, 170, 170);
}

h1 {
    padding-bottom: 0.3em;
    font-size: 175%;
}

h2 {
    padding-top: 0.8em;
    font-size: 150%;
}

h3 {
    font-size: 110%;
    border-bottom: none;
}

p {
    padding: 0;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0.8em;
}


.pub {
    padding: 0;
    line-height: 2;
    margin-top: 0;
    margin-bottom: 0.8em;
}


ul, ol {
    padding-top: 0;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

ul {
    list-style-type: square;  /* 设置列表项为方块样式 */
}

li {
    margin-top: 1em;
    margin-bottom: 1.7em;
}

table {
    padding: 5px;
}

.pub_table, .codebase_table {
    padding: 8px;
    border-collapse: separate;
    border-spacing: 15px;
    margin-top: -5px;
}

.pub_td1 {
    width: 50px;
}

.pub_td1 img {
    width: 160px;
}

.codebase_table_td1 {
    color: gray;
    font-size: 60%;
    font-family: monaco;
    width: 50px;
}

.codebase_table_td1 img {
    width: 320px;
}

#layout-content {
    background: white;
    text-align: left;
    padding: 0 1em;
    vertical-align: top;
}

div#toptitle h1 {
    padding-top: 0;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
    margin-bottom: 0;
    border-bottom: none;
}

/* 添加 Publications 相关样式 */
.pub-title {
    font-size: 100%;
    /* color: #333333; */
    color: #003D79;
    margin-bottom: 0.3em;
}

.pub-authors {
    color: #444444;
    font-size: 100%;
    margin-bottom: 0.2em;
}

.pub-venue {
    color: #555555;
    font-size: 100%;
}

.pub-venue b {
    color: rgb(0, 0, 0);
    /* font-weight: 600; */
}